.aftercolumn {
    font-size: .85em;
    padding-left: 1em;
}

.list tr:hover {
    background-color: #FAFAD2;
}

.list tr:hover .actions {
    visibility: visible;
}

.actions {
    visibility: hidden;
}
