.aftercolumn {
    font-size: .85em;
    padding-left: 1em;
}

.list tr.showme:hover {
    background-color: #FAFAD2;
}

.list tr:hover .actions {
    visibility: visible;
}

.actions {
    visibility: hidden;
}

.strikeme {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHklEQVQYV2NkIBIwEqmOgTYK64mxnjZWE2MzDXwNAIJ3AIqzndCYAAAAAElFTkSuQmCC');
    background-repeat: repeat-x;
    background-position: 50% 50%;
/*
    text-decoration: line-through;
*/
}

.nostrike {
    background-image: none;
    /*text-decoration: none;*/
}

#listactions {
    padding-top: 1em;
}

